#navbar {
  display: flex;
  justify-content: space-evenly;
  #logo {
    display: flex;
    align-items: center;
    p {
      margin: 0;
    }
  }
  #options {
    font-family: "OpenSans";
    font-size: 18px;
    line-height: 21px;
    color: black;

    ul {
      display: flex;
      justify-content: space-evenly;
      .option-active {
        color: #03acf2;
      }
    }

    li {
      margin-right: 30px;
      list-style: none;
    }
  }
}
