<div id="navbar">
  <section id="logo">
    <p>ArianeDevs</p>
  </section>
  <section id="options">
    <ul>
      <li
        [ngClass]="optionActive === option ? 'option-active' : ''"
        *ngFor="let option of navbarOptions"
        (click)="selectOption(option)"
      >
        {{ option }}
      </li>
    </ul>
  </section>
</div>
