<div id="footer">
  <section id="enterprise">
    <div id="logo">
      <p>Software</p>
    </div>
    <div id="description">
      <p>
        Nam posuere accumsan porta. Integer id orci sed ante tincidunt tincidunt
        sit amet sed libero.
      </p>
    </div>
    <div id="copyright">
      <p>&copy; ArianeDevs SAS</p>
    </div>
  </section>
  <section id="company">
    <p id="title-company">Company</p>
    <div id="body-company">
      <ul>
        <li *ngFor="let option of footerOptionsCompany">{{ option }}</li>
      </ul>
    </div>
  </section>
  <section id="services">
    <p id="title-services">Services</p>
    <div id="body-services">
      <ul>
        <li *ngFor="let option of footerOptionsServices">{{ option }}</li>
      </ul>
    </div>
  </section>
  <section id="resources">
    <p id="title-resources">resources</p>
    <div id="body-resources">
      <ul>
        <li *ngFor="let option of footerOptionsResources">{{ option }}</li>
      </ul>
    </div>
  </section>
  <section id="social-networks">
    <div>
      <div>
        <img
          src="../../../assets/icons/footer/facebook_logo.png"
          alt="Facebook icon"
        />
      </div>
      <p>LinkedIn</p>
      <p>Twitter</p>
      <p>Instagram</p>
    </div>
  </section>
</div>
