#footer {
  display: flex;
  padding: 0 112px;
  justify-content: space-between;
  #enterprise {
    width: 285px;
    #copyright {
      width: 304px;
    }
  }
  #company {
    #title-company {
      width: 93px;
    }
    #body-company {
      width: 132px;
    }
  }
  #services {
    #title-services {
      width: 82px;
    }
    #body-services {
      width: 162px;
    }
  }
  #resources {
    #title-resources {
      width: 104px;
    }
    #body-resources {
      width: 161px;
    }
  }
  #social-networks {
    display: flex;
  }
}
